[access]
	inheritFrom = All-Projects
[submit]
	rejectEmptyCommit = true
[project]
	description = Optical Route Planning Library, Based on a Gaussian Noise Model
[access "refs/*"]
	owner = group TIP GNPy Maintainers
	owner = group user/Jan Kundrát (jktjkt)
	exclusiveGroupPermissions = editAssignee
	editAssignee = group TIP GNPy Maintainers
	editHashtags = group TIP GNPy Maintainers
	forgeAuthor = group TIP GNPy Maintainers
	removeReviewer = group TIP CI
	removeReviewer = group TIP GNPy Maintainers
	publishDrafts = group TIP GNPy Maintainers
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group TIP GNPy Maintainers
	label-Code-Review = -2..+2 group user/Jan Kundrát (jktjkt)
	label-Verified = -1..+1 group TIP CI
	label-Verified = -1..+1 group user/Jan Kundrát (jktjkt)
	push = group Registered Users
	push = group user/Jan Kundrát (jktjkt)
	read = group user/Jan Kundrát (jktjkt)
	rebase = group user/Jan Kundrát (jktjkt)
	removeReviewer = group user/Jan Kundrát (jktjkt)
	submit = group user/Jan Kundrát (jktjkt)
	pushMerge = group TIP GNPy Maintainers
[access "refs/heads/*"]
	create = group user/Jan Kundrát (jktjkt)
	push = +force group user/Jan Kundrát (jktjkt)
	pushMerge = group user/Jan Kundrát (jktjkt)
	read = group user/Jan Kundrát (jktjkt)
[access "refs/tags/*"]
	push = +force group TIP GNPy Maintainers
[receive]
	requireChangeId = true
[dashboard]
    default = refs/meta/dashboards/main:main
[access "refs/meta/dashboards/*"]
	create = group TIP GNPy Maintainers
	push = group TIP GNPy Maintainers
[commentlink "github"]
	match = "(#)(\\d+)"
	link = https://github.com/Telecominfraproject/oopt-gnpy/issues/$2
[commentlink "changeid"]
	match = (I[0-9a-f]{8,40})
	link = "/q/$1"
[commentlink "github-commit"]
	match = "[\\s(]([0-9a-zA-Z_.-])/([0-9a-zA-Z_.-])@([0-9a-f]{20,40})[\\s.,;:)]"
	link = https://github.com/$1/$2/commit/$3
[commentlink "sha1"]
	match = "(<p>|[\\s(])([0-9a-f]{20,40})(</p>|[\\s.,;:)])"
	link = "/q/$2"
