[access]
	inheritFrom = All-Projects
[submit]
	rejectEmptyCommit = true
[project]
	description = Optical Route Planning Library, Based on a Gaussian Noise Model
[access "refs/*"]
	owner = group user/Jan Kundrát (jktjkt)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jan Kundrát (jktjkt)
	label-Verified = -1..+1 group user/Jan Kundrát (jktjkt)
	push = group user/Jan Kundrát (jktjkt)
	read = group user/Jan Kundrát (jktjkt)
	rebase = group user/Jan Kundrát (jktjkt)
	removeReviewer = group user/Jan Kundrát (jktjkt)
	submit = group user/Jan Kundrát (jktjkt)
[access "refs/heads/*"]
	create = group user/Jan Kundrát (jktjkt)
	push = +force group user/Jan Kundrát (jktjkt)
	pushMerge = group user/Jan Kundrát (jktjkt)
	read = group user/Jan Kundrát (jktjkt)
[access "refs/tags/*"]
	push = group user/Jan Kundrát (jktjkt)
	push = +force group user/Jan Kundrát (jktjkt)
[receive]
	requireChangeId = true
[commentlink "github"]
    match = "(#)(\\d+)"
    link =  https://github.com/Telecominfraproject/oopt-gnpy/issues/$2
