[access]
	inheritFrom = All-Projects
[submit]
	rejectEmptyCommit = true
[project]
	description = Optical Route Planning Library, Based on a Gaussian Noise Model
[access "refs/*"]
	owner = group TIP GNPy Maintainers
	exclusiveGroupPermissions = editAssignee
	editAssignee = group TIP GNPy Maintainers
	editHashtags = group TIP GNPy Maintainers
	forgeAuthor = group TIP GNPy Maintainers
	removeReviewer = group TIP CI
	removeReviewer = group TIP GNPy Maintainers
	publishDrafts = group TIP GNPy Maintainers
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group TIP GNPy Maintainers
	label-Verified = -1..+1 group TIP CI
	push = group Registered Users
	rebase = group TIP GNPy Maintainers
	removeReviewer = group TIP GNPy Maintainers
	submit = group TIP GNPy Maintainers
	pushMerge = group TIP GNPy Maintainers
[access "refs/heads/*"]
	create = group user/Jan Kundrát (jktjkt)
	push = +force group user/Jan Kundrát (jktjkt)
	pushMerge = group user/Jan Kundrát (jktjkt)
	read = group user/Jan Kundrát (jktjkt)
[access "refs/tags/*"]
	push = +force group TIP GNPy Maintainers
	createSignedTag = group TIP GNPy Maintainers
	createTag = group TIP GNPy Maintainers
	delete = group user/Jan Kundrát (jktjkt)
[receive]
	requireChangeId = true
[dashboard]
    default = refs/meta/dashboards/main:main
[access "refs/meta/dashboards/*"]
	create = group TIP GNPy Maintainers
	push = group TIP GNPy Maintainers
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[access "refs/tags/v2.2a3"]
	create = group user/Guilherme Steinmüller (guilhermesteinmuller)
	createSignedTag = group user/Guilherme Steinmüller (guilhermesteinmuller)
	createTag = group user/Guilherme Steinmüller (guilhermesteinmuller)
	delete = group user/Guilherme Steinmüller (guilhermesteinmuller)
	forgeAuthor = group user/Guilherme Steinmüller (guilhermesteinmuller)
	forgeCommitter = group user/Guilherme Steinmüller (guilhermesteinmuller)
	push = +force group user/Guilherme Steinmüller (guilhermesteinmuller)
	pushMerge = group user/Guilherme Steinmüller (guilhermesteinmuller)
[plugin "zuul-status"]
	tenant = TelecomInfraProject
	url = https://zuul.vexxhost.dev
[commentlink "github"]
	match = "(#)(\\d+)"
	link = https://github.com/Telecominfraproject/oopt-gnpy/issues/$2
[commentlink "changeid"]
	match = (I[0-9a-f]{8,40})
	link = /q/$1
[commentlink "github-commit"]
	match = "[\\s(]([0-9a-zA-Z_.-])/([0-9a-zA-Z_.-])@([0-9a-f]{6,40})[\\s.,;:)]"
	link = https://github.com/$1/$2/commit/$3
[commentlink "sha1"]
	match = "(<p>|[\\s(])([0-9a-f]{7,40})(</p>|[\\s.,;:)])"
	link = https://github.com/Telecominfraproject/oopt-gnpy/commit/$2
[commentlink "pep8"]
	match = ([CEWF])([0-9]{3})
	link = https://www.flake8rules.com/rules/$1$2.html
