name: Flake8 Check

on:
  workflow_call:

jobs:
  flake8:
    name: Flake8 on changed Python files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "flake8>=5.0.4,<6"

      - name: Run flake8 with diff
        run: |
          git show HEAD | flake8 -v --diff
